body{
    background-color: hsl(223deg 11% 90%);
    margin: 8em 25em;
}

.comments{
    background-color: white;
    padding: 2em;
    padding-left: 3em;
    margin: -2px;
    color: hsl(223deg 9% 63%);
    border-radius: 5px;
    font-family: Verdana, sans-serif;
    font-size: small;
    display: flex;
    justify-content: center;
}

.upvoteBtn{
    background-color: hsl(223deg 19% 93%);
    margin-right: 40px;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    padding-top: 20px;
    
}
img{
    height: 40px;
    padding-right: 25px;
    margin-bottom: -20px;
}

.name{
    color: rgb(59, 56, 56);
    font-weight: bold;
    padding-right: 10px;
}

.reply{
    position: relative;
    margin-left: 8em;
}

.you{
    background-color: hsl(238, 40%, 52%);
    padding: .2em .5em;
    border-radius: 2px;
    font-size: smaller;
    color: white;
    font-weight: 550;
    margin-right: 10px;
}

.comments button{
    background-color: none;
    border: none;
    cursor: pointer;
    color: rgb(147, 148, 150)
}


.replies{
    margin-left: 42px;
    padding-left: 42px;
    border-left: solid 2px rgb(182, 182, 188);

}


.addComment{
    background-color: white;
    padding: 2em;
    padding-right: 11em;
    border-radius: 5px;
    margin-top: -15px;
}

.addCommentText{
    border: solid 1px #c7c6ce;
    font-size: small;
    padding-bottom: 6em;
    border-radius: 5px;
}

#addCommentText{
    padding-top: 3px;
    padding-left: 20px;
    font-family: Verdana, sans-serif;
    color: hsl(223deg 9% 63%);

}

.send{
    background-color: hsl(238, 40%, 52%);
    padding: 0.8em 2em;
    border-radius: 5px;
    color: white;
    float: right;
    margin-right: -125px;
}